# -*- mode: sh -*-
#
# Common alias definitions for sh/bash/zsh

alias ll='ls -alF'
# Disable q alias as using q shell script now
#alias q='emacsclient -c -n'
alias tdmp='sudo /usr/sbin/tcpdump -ni eth0 -s 0 -w'
alias trd='/usr/sbin/tcpdump -nevvvxXttttSr'
alias assh="ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"
alias ascp="scp -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"
alias diff="diff -x .git -x '*~' -x '*#'"

# Cloudbees Jenkins
alias jenkins='podman volume exists jenkins-data || podman volume create jenkins-data; id=$(podman ps -a --filter name=jenkins --format '{{.ID}}'); [ -z "${id}" ] && (podman run --name jenkins -d -u root -p 8080:8080 -p 50000:50000 --mount type=volume,src=jenkins-data,target=/var/cloudbees-jenkins-distribution --mount type=bind,src=/run/user/1000/podman/podman.sock,target=/var/run/docker.sock cloudbees/cloudbees-jenkins-distribution && podman exec -u root jenkins apt install -y --ignore-missing docker.io) || podman start ${id}'
