# Ignore everything by default
.*
*

# Add individual files/directories that should be in repo
!.gitconfig
!.gitignore
!.gitignore.memes
!README.md
!LICENSE
!.Xresources
!.bash_memes
!.kernel-pkg.conf
!.profile_memes
!.xsettingsd

# Autostart desktop files
!.config/autostart/*

# Share i3 configuration - probably needs to be customised for other
# machines
!.config/i3

# Midnight commander
!.config/mc

# udiskie
!.config/udiskie

# Useful scripts
!bin/*

# OS X Library files
!Library/Developer/Xcode/UserData/FontAndColorThemes/*
# Preferred go libs to install and refresh as needed
!lib/go/refresh.sh
!lib/go/refresh.ps1
