[user]
	email = memes@matthewemes.com
	name = Matthew Emes
	signingkey = EE2664DD38F53BA6849E99B7757446333D3EC29A
[push]
	default = simple
[credential]
	helper = store

# Most of these credentials/overrides are just for cloned repos prior
# to universal switch to git w/ssh keys (see ~/.ssh/config)
[credential "https://github.com"]
	username = memes
[credential "https://tenmedia.visualstudio.com"]
	username = memes@matthewemes.com
[credential "https://bitbucket.org"]
	username = memes
[credential "https://gitlab.com"]
	username = memes
[url "ssh://git@bitbucket.org"]
	insteadOf = https://bitbucket.org

# Various shortcuts
[alias]
	branches = branch -a
	tags = tag
	stashes = stash list
	unstage = reset -q HEAD --
	revert = checkout --
	uncommit = reset --mixed HEAD~
	amend = commit --amend
	graph = log --graph --branches --remotes --tags --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order -10
	patches = log --patch --decorate -10
	review = diff --cached --diff-algorithm=minimal -w

# Pull in any configuration that can't be stored in public git repo
[include]
	path = ~/.gitconfig.private
