# Ignore everything by default
.*
*

# Add individual files/directories that should be in repo
!.aliases
!.Brewfile
!.gitconfig
!.gitignore
!.gitignore.memes
!.git-commit-template
!cloudshell.md
!README.md
!LICENSE
!.Xresources
!.bashrc_memes
!.direnvrc
!.kernel-pkg.conf
!.pre-commit-config.yaml
!.profile_memes
!.screenrc
!.talismanrc
!.xsettingsd
!.yamllint.yaml
!.zshrc_memes
!.zsh_plugins.txt
!.zsh_plugins.darwin.txt
!bootstrap.sh
!requirements-dev.txt
!requirements.txt

# local configurations
!.config
!.config/autostart/*
!.config/direnv
!.config/direnv/direnv.toml
!.config/direnv/direnvrc
!.config/i3
!.config/mc
!.config/starship.toml
!.config/udiskie

# moving to a shared-directory approach for environment config
!.profile.d/
!.profile.d/**
# Except kpt completion scripts, since these are updated frequently via tool_updates.sh
.profile.d/functions.zsh/_kpt
.profile.d/kpt/completion.sh

# Useful scripts
!bin
bin/*
!bin/*.sh
!bin/monitor
!bin/pavolume.sh
!bin/q
!bin/qw
!bin/screenshot
!bin/touchpad
!bin/winmount

# OS X Library files
!Library/Developer/Xcode/UserData/FontAndColorThemes/*

# Common launchagent settings (OS X)
!Library/LaunchAgents/org.gnu.emacs.plist
!Library/LaunchAgents/com.matthewemes.macos.plist

# GnuPG configuration
!.gnupg/
!.gnupg/dirmngr.conf
!.gnupg/gpg-agent.conf
!.gnupg/gpg.conf
!.gnupg/sks-keyservers.netCA.pem
!.gnupg/scdaemon.conf

# vesctl completion is generated, don't include in repo
.profile.d/functions.zsh/_vesctl
bin/vesctl
!.volterra
!.volterra/Makefile

# .github actions and workflows
!.github
!.github/**/*

# jq modules
!.jq
!.jq/**/*
