# Ignore everything by default
.*
*

# Add individual files/directories that should be in repo
!.gitconfig
!.gitignore
!.gitignore.memes
!README.md
!LICENSE
!.Xresources
!.bashrc_memes
!.kernel-pkg.conf
!.profile_memes
!.screenrc
!.xsettingsd
!.zshrc_memes
!.zsh_plugins.txt
!.zsh_plugins.darwin.txt

# Autostart desktop files
!.config/autostart/*

# Share i3 configuration - probably needs to be customised for other
# machines
!.config/i3

# Midnight commander
!.config/mc

# udiskie
!.config/udiskie

# moving to a shared-directory approach for environment config
!.profile.d/**

# Useful scripts
!bin/*

# OS X Library files
!Library/Developer/Xcode/UserData/FontAndColorThemes/*

# Common launchagent settings (OS X)
!Library/LaunchAgents/org.gnu.emacs.plist
