[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Categories=Network;Chat;
Name=plaidchat
Comment=plaidchat is an open-source client for Slack
Keywords=slack;chat;instant-messaging;collaboration;
Exec=plaidchat --minimize-to-tray --close-to-tray
StartupWMClass=plaidchat
Icon=/home/memes/lib/node/lib/node_modules/plaidchat/app/images/app-256.png
