# These github actions will perform linting using pre-commit.
# yamllint disable rule:line-length
---
name: pre-commit

# yamllint disable-line rule:truthy
on:
  pull_request:
  push:
    branches-ignore:
      - main

permissions:
  contents: read
  pull-requests: read

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    env:
      TALISMAN_VERSION: 1.37.0
    steps:
      - uses: actions/checkout@v6
      - name: install talisman
        uses: jaxxstorm/action-install-gh-release@v1
        with:
          repo: thoughtworks/talisman
          extension-matching: disable
          rename-to: talisman
          chmod: 0755
      - uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - uses: astral-sh/setup-uv@v7
      - run: uv sync --locked --all-extras --dev
      - uses: pre-commit/action@v3.0.1
